@model IEnumerable<ModelCL.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioPass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioImg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioFchIng)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioApp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioPass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioImg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioFchIng)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioApp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UsuarioId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UsuarioId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UsuarioId })
        </td>
    </tr>
}

</table>
